@import '../reset.css';
@import url('https://fonts.googleapis.com/css?family=Ovo|Raleway&display=swap');

html {
	background-color: white;
	font-family: 'Ovo', serif;
}

.page {
	display: grid;
	grid-template-rows: 10vh auto 10vh;
	grid-template-areas:
		'header'
		'content'
		'footer';
}

.container {
	width: calc(100% - 10rem);
	margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	text-align: center;
}

.header {
	display: grid;
	grid-area: header;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	border-bottom: 1px solid var(--imperial);
}

.nav-back {
	display: flex;
	justify-content: flex-end;
}

.go-back {
	color: var(--clairvoyant);
}

.footer {
	text-align: center;
	grid-area: footer;
	margin: auto;
	border-top: 1px solid var(--imperial);
}

.header-title {
	grid-column-start: 3;
	grid-column-end: 11;
	font-size: 2.5rem;
}

.content {
	display: block;
	grid-area: content;
}

.content-header {
	display: block;
}

.header-topbar {
	display: flex;
	justify-content: center;
	height: 65px;
}

.header-align {
	margin: 0 4rem;
	width: 100%;
	display: flex;
	max-width: 62.572vw;
}

.header-icon {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
}

.header-cta {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
}

.btn {
	border-radius: 0.25em;
	color: rgba(0, 0, 0, 0.84);
	padding: 0.25em 0.75em;
	display: inline-block;
	line-height: 1.25em;
	background-color: transparent;
	font-weight: 400;
	font-size: 0.9875em;
	margin-right: 0.5rem;
}

.primary {
	border: 1px solid rgba(0, 0, 0, 0.54);
}

.subtle {
	border: none;
}

.header-navbar {
	background-color: rgba(53, 88, 118, 1);
	display: flex;
	justify-content: center;
	border-top: medium none;
	line-height: 2.5rem;
	height: 3.375em;
}

.nav-container {
	display: flex;
	align-items: flex-start;
	margin: auto 0;
	white-space: nowrap;
}

.nav-link {
	color: white;
	display: flex;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
	font-family: 'Raleway', sans-serif;
}

.nav-link:first-child {
	margin-left: 0;
}

.nav-link > a {
	text-decoration: none;
	color: inherit;
}

.article-container {
	display: grid;
	grid-template-columns: auto minmax(min-content, 80ch) auto;
}

.article-content {
	grid-column-start: 2;
	grid-column-end: 3;
	overflow-wrap: break-word;
	word-break: break-word;
	max-width: 36vw;
	justify-self: center;
}

.sidebar {
	grid-column-start: 1;
	grid-column-end: 2;
}

.article-img {
	width: 680px;
	height: 485.5px;
}

.fig-container {
	margin-top: 3.5rem;
}

.headline-container {
	margin-top: 0.78em;
	font-size: 2.5em;
	line-height: 1.23;
}

.left-align {
	text-align: left;
}

.byline-container {
	margin-top: 0.79em;
	font-size: 1.5em;
	line-height: 1.394;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.54);
}

.information-container {
	margin-top: 2em;
	display: flex;
}

.info-inset {
	flex: 1 0 auto;
	display: flex;
}

.author-avatar {
	margin-right: 0.5em;
}

.article-info {
	display: block;
}

.author-inset {
	display: flex;
	margin-bottom: 2px;
	align-items: center;
}

.author-name {
	text-overflow: ellipsis;
	font-size: 1em;
	max-height: 1.25em;
	font-weight: 300;
}

.follow {
	flex: 0 0 auto;
	margin-left: 0.5em;
}

.social-media {
	flex: 0 0 auto;
}

.text {
	margin-top: 2rem;
	font-size: 1.3125em;
	line-height: 1.58;
	letter-spacing: -0.004em;
}

.sidebar {
	grid-column: 1/2;
	grid-row: 1;
	position: sticky;
	top: -1px;
	margin: 2em auto;
}
